#container {
    display: grid;
    margin: 0 auto;
    max-width: 75%;
    gap: 1rem;
    grid-template-columns: minmax(0, 3fr) minmax(0, 1fr);
    grid-template-areas:
        "top-bar top-bar"
        "main-content aside";
}

#top-bar {
    display: flex;
    flex-direction: row;
    flex: 0 1;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black;
    grid-area: top-bar;
}

#page-nav {
    grid-area: aside;
    position: sticky;
    align-self: start;
    top: 0;
}

#search-bar {
    flex-grow: 0.25;
    display: flex;
}

#search-bar input {
    flex-grow: 1;
}

#search-bar * {
    border-radius: 15px;
}


.notecard {
    background-color: rgba(0, 133, 242, .1);
    border: 1px solid rgba(0 133 242, .1);
    border-left: 4px solid #0085f2 !important;
    margin: 1rem 0;
    padding: 0.5rem;
    position: relative;
}

code {
    background-color: #f2f1f1;
    padding: 0.25rem;
}

main {
    grid-area: main-content;
}

table {
    border-collapse: collapse;
}

table td,
table th {
    border: 1px solid #cdcdcd;
    padding: 0.5rem 0.75rem;
    vertical-align: middle;
}


#page-nav ul {
    list-style: none;
    border-left: 1px solid black;
}

ul li {
    margin-bottom: 10px;
}

li a {
    text-decoration: none;
}

@media screen and (max-width: 800px) {
    #container {
        grid-template-columns: 1fr; /* La solution était beaucoup plus haut niveau que ce je croyais... */
        grid-template-areas: "top-bar" "aside" "main-content";
        margin: 0;
        padding: 0;
        max-width: 100%;
    }
    .notecard {
        border: none;
    }
    #page-nav {
        position: relative;
        align-self: flex-end;
        text-align: right;
        top: 0;
        border: none;
    }
}

@media screen and (min-width: 450px) and (max-width: 800px) {
    #container {
        background-color: #15ec15;
    }
}

@media screen and (max-width: 450px) {
    #container {
        grid-template-columns: 1fr;
        grid-template-areas: "main-content";
        max-width: 100%;
        margin: 0;
        padding: 0;
    }

    .table-container {
        margin: 0;
    }
}

@media print {

    #container {
        grid-template-columns: 1fr;
        grid-template-areas: "main-content";
        max-width: 100%;
    }

    #top-bar {
        display: none; /* Pas juste mettre visibility hidden */
    }

    #page-nav {
        display: none;
    }

    #types_de_media, #caracteristiques_media_media_features {
        page-break-before: always;
    }

    /* Pour les td et th, on priorise la spécificité en ajoutant leur parent. (Alternative pas recommandée: !important; c'est la raison pour laquelle le .notepad peut se faire ssi on l'enlève d'en-haut...)*/
    .notecard,
    table td,
    table th {
        border-color: none;
        border: none;
    }
}

